.block{
  padding: 30px;
  .block-text{
    font-size: 80px;
    span{
      color:green;
    }
  }
  .about {
  }
  .about__body {
  }
  .about__header {
  }
  .about__title {
  }
  .about__text {
  }
  .about__row {
  }
  .about__column {
  }
  .item-about {
  }
  .item-about__icon {
  }
  .item-about__title {
  }
  .item-about__text {
  }
